---
import { getCollection, type CollectionEntry } from "astro:content";
import ContentLayout from "../../layouts/ContentLayout.astro";
export const getStaticPaths = async () => {
  const blogPosts = await getCollection("blog");
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<ContentLayout title="My Blog">
  <h1>My Blog</h1>
  <Content />
</ContentLayout>
