---
import BaseCard from "./BaseCard.astro";
import type { CTACardData } from "./types";

interface Props {
  data: CTACardData;
}

const { data } = Astro.props;
const { title, description, buttonText, buttonUrl } = data;
---

<BaseCard data={{ rounded: true }}>
  <h2>{title}</h2>
  <p>{description}</p>
  <button class="bg-blue">
    <a href={buttonUrl}>{buttonText}</a>
  </button>
</BaseCard>
