---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>TooSharks Site</title>
  </head>
  <body>
    <div class="navbar bg-base-100 shadow-sm">
      <a class="btn btn-ghost text-xl">daisyUI</a>
    </div>
    <slot />
    <footer
      class="footer sm:footer-horizontal bg-base-200 text-base-content p-10"
    >
      <nav>
        <h6 class="footer-title">LATEST</h6>
        <a class="link link-hover">Branding</a>
        <a class="link link-hover">Design</a>
        <a class="link link-hover">Marketing</a>
        <a class="link link-hover">Advertisement</a>
      </nav>
      <nav>
        <h6 class="footer-title">Company</h6>
        <a class="link link-hover">About us</a>
        <a class="link link-hover">Contact</a>
        <a class="link link-hover">Jobs</a>
        <a class="link link-hover">Press kit</a>
      </nav>
      <nav>
        <h6 class="footer-title">Legal</h6>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
      </nav>
      <form>
        <h6 class="footer-title">Newsletter</h6>
        <fieldset class="w-80">
          <label>Enter your email address</label>
          <div class="join">
            <input
              type="text"
              placeholder="username@site.com"
              class="input input-bordered join-item"
            />
            <button class="btn btn-primary join-item">Subscribe</button>
          </div>
        </fieldset>
      </form>
    </footer>
  </body>
</html>
